<ion-header>
  <ion-toolbar>
    <ion-title>Personaje: {{id}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

    <ion-card-header>

      <img src="{{personaje.image}}" width="300px">
      <ion-card-title>{{personaje.name}}</ion-card-title>
      <ion-card-subtitle>Especie: {{personaje.species}}</ion-card-subtitle>
      <ion-card-subtitle>Genero: {{personaje.gender}}</ion-card-subtitle>
      <ion-card-subtitle>Estado: {{personaje.status}}</ion-card-subtitle>

    </ion-card-header>

  </ion-card>

</ion-content>
